#toolbar {
	display: inline-block;
}
#toolbar p {
	display: inline-block;
}
#sketch {
	margin: auto;
	height: 560px;
	width: 560px;
}
.col {
	display: inline-block;
}
.cell {
	background-color: #d3d3d3;
}
.blk {
	background-color: #000000;
}